/* @font-face {
    font-family: "BlueFonteSans";
    src: url("../public/fonts/BlueFonteSans.ttf") format("truetype");

    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "BlueFonteSans", sans-serif;
    font-weight: 300 !important;

} */
